:root {
    --main-text-font: 'Open Sans', sans-serif;
    --title-text-font: 'Raleway', sans-serif;
    --main-background-color: #FFFFFF;
    --dark-background-color: rgba(25, 28, 38, 0.2);
    --grey-background-color: #F7F7F7;
    --header-title-button-text-dark-section: #FFFFFF;
    --accent-color: #FF6C00;
    --title-and-dark-button: #303030;
    --sub-dark-section: #9DA4BD;
    --sup-dark-section: rgba(157, 164, 189, 0.6);
    --text-light-sections: #555555;
}

body {
    background-color: var(--main-background-color);
    font-family: var(--main-text-font);

}

/* Зкидання маркерів */
.list {
    list-style: none;
}

/* Зкидання підкреслень */
.list a {
    text-decoration: none;
}

/* ======Хедер====== */

.header-page {
background-color: var(--dark-background-color);
}

.menu a,
.phone {
    color: var(--header-title-button-text-dark-section);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
}

.phone {
    text-decoration: none;
}

.menu a:hover,
.menu a:focus {
    color: var(--accent-color);
}

/* Кнопка */

.btn {
    color: var(--header-title-button-text-dark-section);
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
}

/* ======== HERO ========== */

.hero {
    background-color: var(--dark-background-color);
}
.net-menu a {
    color: var(--title-and-dark-button);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
}

.net-menu a:hover,
.net-menu a:focus {
    color: var(--accent-color);
}

.sup-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
}

.hero-sup {
    color: var(--sup-dark-section);
}

.hero-title {
    color: var(--header-title-button-text-dark-section);
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
}

.sub-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
}

.hero-sub {
    color: var(--sub-dark-section);
}

.back-and-forward a {
    color: var(--header-title-button-text-dark-section);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
}

/* ======= ABOUT ======== */

.about-sup {
    color: var(--title-and-dark-button);
}

.secondary-title {
    color: var(--title-and-dark-button);
    font-style: var(--title-text-font);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

.about-sub {
    color: var(--text-light-sections);
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
}

.about-btn {
    color: var(--title-and-dark-button);
}

/* ====== PRICES ======== */

.prices {
    background-color: var(--dark-background-color);
}

.prices-sup {
    color: var(--sup-dark-section);
}

.price-title {
    color: var(--header-title-button-text-dark-section);
}

.prices-table {
    color: var(--sub-dark-section);
}

.about-btn {
    color: var(--header-title-button-text-dark-section);
}

/* ====== WHY WE ======= */

.why-list {
    color: var(--title-and-dark-button);
    background-color: var(--grey-background-color);
}

.number {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17x;
    letter-spacing: 0.05em;
}

.descrip {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
}

.why-sup {
    color: var(--title-and-dark-button);
}

.why-sub {
    color: var(--text-light-sections);
}

/* ========= TEAM ======== */

.team {
    background-color: var(--grey-background-color);
}

.team-sup {
    color: var(--title-and-dark-button);
}

.third-title {
    color: var(--title-and-dark-button);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    letter-spacing: 0.02em;
}

.team-desc {
    color: var(--accent-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    letter-spacing: 0.02em;
}

/* ====== PORTFOLIO ====== */

.portf-sup {
    color: var(--title-and-dark-button);
}