:root {
    --main-text-font: 'Open Sans', sans-serif;
    --title-text-font: 'Raleway', sans-serif;
    --main-background-color: #FFFFFF;
    --dark-background-color: rgba(25, 28, 38, 0.2);
    --grey-background-color: #F7F7F7;
    --header-title-button-text-dark-section: #FFFFFF;
    --accent-color: #FF6C00;
    --title-and-dark-button: #303030;
    --sub-dark-section: #9DA4BD;
    --sup-dark-section: rgba(157, 164, 189, 0.6);
    --text-light-sections: #555555;
}

body {
    background-color: var(--main-background-color);
    font-family: var(--main-text-font);
}

/* Скидання відступів */
h1, h2, h3, h4, h5, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

/* Скидання маркерів */
.list {
    list-style: none;
}

/* Скидання підкреслень */
.list a {
    text-decoration: none;
}

/* Hidden elements */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* General properties container */

.section {
    padding-top: 84px;
    padding-bottom: 84px;
}

@media screen and (min-width: 448px) {
    .container {
        width: 448px;
        margin: 0 auto;
        padding: 0 15px;
    }    
}

@media screen and (min-width: 768px) {
    .section {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .container {
        width: 720px;
    }     
}
    
@media screen and (min-width: 1200px) {
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .container {
        width: 1200px;
    }
}

/* General properties for button */

.btn {
    height: 40px;
    padding: 12px 20px;
    border: 1px solid var(--accent-color);
    background-color: transparent;
    border-radius: 25px;
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    cursor: pointer;

    transition: 500ms;
}

.btn:hover,
.btn:focus {
    background-color: var(--accent-color);
}

/* ========== HEADER ========== */

.header-page {
    position: absolute;
    z-index: 100;
    width: 100%;
    padding-top: 40px;
}

.header-cntnr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-svg {
    fill: var(--header-title-button-text-dark-section);
}

/* ++++++++++ Phone ++++++++++ */

@media screen and (max-width: 767px) {
    .menu,
    .wrap-tel-btn {
        display: none;
    }

    .menu-btn {
        padding: 0;
        border: none;
        line-height: 0;
        background-color: transparent;
    }
    
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        background-color: var(--dark-background-color);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        transition: transform 250ms, opacity 250ms;
    }
    
    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateX(0);
    }

    .mobile-menu-wrap {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        padding: 118px 40px;
        max-width: 337px;
        height: 100%;
        max-height: 796px;
        background-color: var(--main-background-color);
        overflow-y: auto;
    }
    
    .mobile-btn-cls {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 48px;
        right: 31px;
        padding: 0;
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        background-color: transparent;
        cursor: pointer;
        transition: color 500ms, border 500ms;
    }

    .mobile-btn-cls>svg {
        transition: fill 500ms;
    }

    .mobile-btn-cls:hover>svg,
    .mobile-btn-cls:focus>svg {
        fill: #FF6C00;
    }

    .mobile-btn-cls:hover,
    .mobile-btn-cls:focus {
        background-color: #fff;
        border: 1px solid #FF6C00;
    }

    .mobile-menu-list {
        margin-bottom: 64px;
    }

    .mobile-menu-item:not(:last-child) {
        margin-bottom: 24px;
    }

    .mobile-menu-list a,
    .mobile-phone {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.39;
        letter-spacing: 0.1em;
        color: var(--title-and-dark-button);
    }

    .mobile-menu a {
        transition: color 500ms;
    }

    .mobile-phone {
        text-decoration: none;
        margin-bottom: 24px;
    }

    .mobile-menu a:hover,
    .mobile-menu a:focus {
        color: var(--accent-color);
    }
     
    .mobile-header-btn {
        margin-bottom: 64px;
        width: 194px;
        color: var(--title-and-dark-button);
    }
    
    .mobile-net-menu {
        margin-bottom: auto;
    }

    .mobile-net-item:first-child::before {
        content: '';
        display: inline-block;
        width: 60px;
        height: 1px;
        background-color: var(--title-and-dark-button);
    }

    .mobile-net-item:first-child {
        display: flex;
        align-items: center;
        gap: 40px;
        margin-bottom: 24px;
    }

    .mobile-net-menu a {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.36;
        letter-spacing: 0.2em;
        color: var(--title-and-dark-button);
    }

    .mobile-net-item:last-child {
        margin-left: 100px;
    }
}

/* ++++++++++ Tablet ++++++++++ */

@media screen and (min-width: 768px) {
    .menu-btn,
    .mobile-menu {
        display: none;
    }

    .header-page {
        padding-top: 32px;
    }

    .menu-nav {
        margin-right: auto;
    }

    .menu-nav,
    .menu {
        display: flex;
        align-items: center;
    }

    .logo {
        margin-right: 58px;
    }

    .logo-svg {
        fill: #303030;
    }

    .menu-item:not(:last-child) {
        margin-right: 20px;
    }

    .menu a,
    .phone {
    color: var(--header-title-button-text-dark-section);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    }

    .menu a {
    transition: color 500ms;
    }

    .menu a:hover,
    .menu a:focus {
    color: var(--accent-color);
    }

    .wrap-tel-btn {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        align-items: center;
    }

    .phone {
        text-decoration: none;
    }
    
    .header-btn {
        min-width: 160px;
        color: var(--header-title-button-text-dark-section);
        background-color: rgba(0%, 0%, 0%, 0%);
    }
}

/* ++++++++++ Desktop ++++++++++ */

@media screen and (min-width: 1200px) {
    .menu-btn,
    .mobile-menu {
        display: none;
        }

    .logo {
        margin-right: 131px;
    }

    .menu-item:not(:last-child) {
        margin-right: 30px;
    }

    .menu-item a,
    .phone {
        display: block;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .wrap-tel-btn {
        flex-direction: row;        
        gap: 40px;
    }
}

/* ======== HERO ========== */

.sup-text {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    gap: 20px;
    align-items: center;
}

.sup-text::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: currentColor;
}

.hero-sup {
    color: var(--sup-dark-section);
}

.hero-title {
    margin-bottom: 20px;
    color: var(--header-title-button-text-dark-section);
    font-weight: 700;
    font-size: 48px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

.sub-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.02em;
}

.hero-sub {
    color: var(--sub-dark-section);
}

/* ++++++++++ Phone ++++++++++ */

@media screen and (max-width: 767px) {
    .hero-net-menu-overlay,
    .btn-cntnr {
        display: none;
    }

    .hero {
        padding-top: 208px;
        padding-bottom: 209px;
        margin-left: auto;
        margin-right: auto;
        max-width: 480px;
        max-height: 580px;
        background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero-mobile.jpg");
        background-color: gray;
        background-size: cover;
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
        background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero-mobile@2x.jpg");        }
    }
}

/* ++++++++++ Tablet ++++++++++ */

@media screen and (min-width: 768px) {
    .hero-cntnr {
        display: flex;
        }

    .hero-net-menu-overlay {
        position: relative;
        width: 88px;
        margin-right: 29px;
    }

    .net-menu {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    .hero-net-menu {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform-origin: center left;
        transform: translateY(50%) rotate(-90deg);
    }

    .net-item:first-child {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    .net-item:first-child::before {
        content: '';
        width: 60px;
        height: 1px;
        background-color: var(--title-and-dark-button);
    }

    .net-item a {
        display: block;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .net-menu a {
        color: var(--title-and-dark-button);
        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.2em;

        transition: color 500ms;
    }

    .net-menu a:hover,
    .net-menu a:focus {
        color: var(--accent-color);
    }

    .ttl-hero-cntnr {
        position: relative;
        max-width: 573px;
        max-height: 680px;
        background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero-tablet.jpg");
        background-color: gray;
        background-size: cover;
        padding-top: 272px;
        padding-bottom: 49px;
        padding-left: 98px;
        flex-grow: 1;
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .ttl-hero-cntnr {
        background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero-tablet@2x.jpg");        }
    }

    /* .ttl-hero-cntnr::before {
        position: absolute;
        top: calc(50% + 1px);
        right: 20px;
        content: "";
        display: block;
        width: 8px;
        height: 2px;
        background-color: #9DA4BD;
    }

    .ttl-hero-cntnr::after {
        position: absolute;
        top: calc(50% + 13px);
        right: 20px;
        content: "";
        display: block;
        width: 8px;
        height: 2px;
        background-color: #9DA4BD;
    }
        .ttl-cntnr::before {
            position: absolute;
            top: calc(50% - 13px);
            right: 20px;
            content: "";
            display: block;
            width: 18px;
            height: 2px;
            background-color: #fff;
        } */

    .ttl-cntnr {
        margin-bottom: 173px;
    }

    .sub-text {
        font-size: 18px;
        line-height: 1.67;
    }

    .btn-cntnr {
        display: flex;
    }

    .back-and-forward {
        display: flex;
        gap: 64px;
        align-items: center;
        margin-left: auto;
        margin-right: 20px;
    }

    .bf-link::after {
        content: '';
        width: 60px;
        height: 1px;
        display: block;
        margin-top: 8px;
        background-color: rgba(157, 164, 189, 0.6);
    }

    .bf-link {
        color: var(--header-title-button-text-dark-section);
        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.1em;
    }

    .bf-item:last-child {
        text-align: end;
    }
}

/* ++++++++++ Desktop ++++++++++ */

@media screen and (min-width: 1200px) {
    .hero-title {
        font-size: 72px;
        line-height: 1.18;
        }

    .hero-net-menu-overlay {
        width: 100px;
        margin-right: 0;
    }

    .hero-net-menu {
        left: 34.5px;
    }

    .ttl-hero-cntnr {
        max-width: 1070px;
        max-height: 680px;
        background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero-desktop.jpg");
        background-size: cover;
        padding-left: 100px;
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .ttl-hero-cntnr {
            background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero-desktop@2x.jpg");
        }
    }
    
    .ttl-cntnr {
        margin-bottom: 144px;
    }
}

/* ======= ABOUT ======== */

.about-sup {
    color: var(--title-and-dark-button);
}

.secondary-title {
    margin-bottom: 20px;
    color: var(--title-and-dark-button);
    font-style: var(--title-text-font);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

.about-ttl {
    font-size: 28px;
    line-height: 1.18;
}

.about-sub {
    color: var(--text-light-sections);
    margin-bottom: 20px;
}

.text {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--text-light-sections);
}

.about-btn {
    color: var(--title-and-dark-button);
}

/* ++++++++++ Phone ++++++++++ */

@media screen and (max-width: 767px){
    .about-list {
        display: none;
    }

    .about-ttl {
        max-width: 306px;
    }
   
}

/* ++++++++++ Tablet ++++++++++ */

@media screen and (min-width: 768px) {
    
    .about-cntnr {
        display: flex;
        gap: 30px;
    }

    .about-list li:first-child {
        margin-bottom: 30px;
    }

    .text {
        margin-bottom: 77px;
    }
}

/* ++++++++++ Desktop ++++++++++ */

@media screen and (min-width: 1200px) {
    
    .about-content {
        margin-right: 100px;
    }

    .about-list {
        display: flex;
        gap: 30px;
    }

    .about-list li:first-child {
        margin-bottom: 0;
    }

    .about-ttl {
        font-size: 42px;
        line-height: 1.17;
    }

    .text {
        margin-bottom: 42px;
    }
}

/* ====== PRICES ======== */

.prices {
    margin: 0 auto;
    background-color: #111319;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.prices-sup {
    color: var(--sup-dark-section);
}

.dark-title {
    margin-bottom: 44px;
    color: var(--header-title-button-text-dark-section);
}

.tables {
    margin-bottom: 44px;
}

.prices-table {
    border-spacing: 0px 10px;
    width: 100%;
    color: var(--sub-dark-section);
}

td {
    padding-bottom: 10px;
}

.last-row {
    padding-bottom: 0px;
}

td:first-child {
    display: flex;
    gap: 12px;
    align-items: baseline;
}

td:first-child::after {
    content: '';
    height: 1px;
    background-color: rgba(157, 164, 189, 0.12);
    flex-grow: 1;
}

td:last-child {
    text-align: end;
}

.dark-btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
    color: var(--header-title-button-text-dark-section);
}

/* ++++++++++ Phone ++++++++++ */

@media screen and (max-width: 767px) {
    .prices {
        max-width: 480px;
        min-height: 738px;
        background-image: url("../images/price-mobile.png");
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .prices {
            background-image: url("../images/price-mobile@2x.png");
        }
    }

    .prices-ttl {
        font-size: 40px;
        line-height: 1.18;
    }

    .tables {
        background-image: linear-gradient(180deg, #171A24, rgba(23, 26, 36, 0.2));
    }

    .prices-table:first-child {
        padding: 20px 20px 0px 40px;
        }

    .prices-table:last-child {
        padding: 0px 20px 20px 40px;
    }

    .sub-text-mobile {
        font-size: 14px;
        line-height: 1.43;
    }

    td:first-child {
        gap: 4px;
    }

    td:last-child {
        width: 98px;
    }
}

/* ++++++++++ Tablet ++++++++++ */

@media screen and (min-width: 768px) {
    .prices {
        max-width: 768px;
        min-height: 856px;
        background-image: url("../images/price-tablet.png");
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .prices {
            background-image: url("../images/price-tablet@2x.png");
        }
    }

    .tables {
        background-image: linear-gradient(180deg, #171A24, rgba(23, 26, 36, 0.2));
    }

    td:last-child {
        width: 125px;
    }

    .prices-table:first-child {
        padding: 22px 40px 0px 40px;
    }

    .prices-table:last-child {
        padding: 0px 40px 22px 40px;
    }
}

/* ++++++++++ Desktop ++++++++++ */

@media screen and (min-width: 1200px) {
    .prices {
        max-width: 1600px;
        min-height: 692px;
        background-image: url("../images/price-desktop.png");
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .prices {
            background-image: url("../images/price-desktop@2x.png");
        }
    }

    .tables {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        background-image: none;
    }

    .prices-table {
        flex-basis: calc((100% - 30px) / 2);
    } 
    
    .prices-table:first-child {
        padding: 20px 22px 20px 20px;
        background-image: linear-gradient(180deg, #171A24, rgba(23, 26, 36, 0.2));
    }

    .prices-table:last-child {
        padding: 20px 22px 20px 20px;
        background-image: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2));
    }

    td:last-child {
        width: 130px;
    }

}

/* ====== WHY WE ======= */

.why-content {
    padding-bottom: 44px;
}
.why-sup {
    color: var(--title-and-dark-button);
}

.why-sub {
    color: var(--text-light-sections);
}

.why-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    color: var(--title-and-dark-button);
}

.why-list li {
    flex-basis: calc((100% - 1*30px) / 2);
    height: 133px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: var(--grey-background-color);
}

.why-list li:nth-child(even) {
    margin-top: 35px;
}

.number {
    position: relative;
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

.number::before {
    position: absolute;
    top: 3px;
    right: 9px;
    content: "+";
    width: 13px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.375;
    color: #FF6C00;
}

.descrip {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
}

/* ++++++++++ Phone ++++++++++ */

@media screen and (max-width: 767px) {
.why-list li {
    padding-left: 36px;
    padding-right: 36px;
}
}

/* ++++++++++ Tablet ++++++++++ */

@media screen and (min-width: 768px) {
    .why-list {
        margin-left: auto;
        max-width: 450px;
    }

    .why-list li {
        padding-left: 44px;
        padding-right: 44px;
    }
}

/* ++++++++++ Desktop ++++++++++ */

@media screen and (min-width: 1200px) {
    .why-cntnr {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 130px;
        padding-left: 69px;
    }

    .why-content {
        max-width: 500px;
        padding-top: 9px;
        padding-bottom: 0px;
    }

    .why-list {
        margin-left: 0;
        max-width: 370px;
    }

    .why-list li {
        padding-left: 24px;
        padding-right: 24px;
    }
}

/* ========= TEAM ======== */

.team {
    background-color: var(--grey-background-color);
}

.team-sup {
    color: var(--title-and-dark-button);
}

.team-ttl {
    margin-bottom: 44px;
}

.team-list li:not(:last-child) {
    margin-bottom: 64px;
}

.team-content {
    padding-top: 30px;
    text-align: center;
}

.third-title {
    margin-bottom: 8px;
    color: var(--title-and-dark-button);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    letter-spacing: 0.02em;
}

.team-desc {
    margin-bottom: 30px;
    color: var(--accent-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    letter-spacing: 0.02em;
}

.team-net-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team-net-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--main-background-color);
    border-radius: 50%;
}

.net-icon {
    fill: #303030;
    transition: fill 500ms;
}

.team-net-link:is(:hover, :focus) .net-icon {
    fill: var(--accent-color);
}

/* ++++++++++ Tablet ++++++++++ */

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .team-container {
    width: 480px;
    }
}

/* ++++++++++ Desktop ++++++++++ */

@media screen and (min-width: 1200px) {
    .team-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .team-list>li {
        flex-basis: calc((100% - 2*30px) / 3);
    }

    .team-list li:not(:last-child) {
        margin-bottom: 0;
    }
}

/* ====== PORTFOLIO ====== */

.portf-sup {
    color: var(--title-and-dark-button);
}

/* ++++++++++ Phone ++++++++++ */

@media screen and (max-width: 767px) {
    .portf-sup {
        margin-bottom: 71px;
    }

    .portf-list li:not(:last-child) {
        margin-bottom: 30px;
    }
}

/* ++++++++++ Tablet ++++++++++ */

@media screen and (min-width: 768px) {
    .portf-sup {
        margin-bottom: 44px;
    }

    .portf-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .portf-list li {
        flex-basis: calc((100% - 1*30px) / 2);
    }
}

/* ++++++++++ Desktop ++++++++++ */

@media screen and (min-width: 1200px) {
    .portf-list li {
        flex-basis: calc((100% - 4*30px) / 4);
    }
}

/* =========== BOOKING & CONTACTS ============= */

.booking-contacts {
    margin: 0 auto;
    background-color: #191C26;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0% 100%;
}

.book-label {
    position: relative;
}

.label-text {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.4);
    transition: 500ms;
}

.book-input {
    height: 24px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    color: #FFFFFF;
    transition: 500ms;
}

.book-text {
    resize: none;
    height: 76px;
}

.book-input:focus {
    border-color: #FFFFFF;
    outline: none;
}

.book-input:focus+.label-text,
.book-input:not(:placeholder-shown)+.label-text {
    color: #fff;
    transform: translateY(-20px);
}

.btn-send {
    width: 160px;
    margin: 0;
}

address {
    font-style: inherit;
}

.address li:not(:last-child) {
    margin-bottom: 20px;
}

.cntct-txt {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--sub-dark-section);
}

.address-adrs {
    display: inline-block;
    font-weight: 700;
}

.phone-contacts,
.email,
.work-hours+.cntct-txt {
    font-weight: 400;
}

a.email {
    text-decoration: underline;
}

.adrs-item {
    display: flex;
    gap: 16px;
    align-items: center;
}

.adrs-item:nth-child(1) {
    align-items: flex-start;
}

.work-hours {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--header-title-button-text-dark-section);
}

.work-hours::before {
    content: "";
    width: 60px;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.4);
}

/* ++++++++++ Phone ++++++++++ */

@media screen and (max-width: 767px) {
    .booking-contacts {
        max-width: 480px;
        background-image: url("../images/address-mobile.png");
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .booking-contacts {
            background-image: url("../images/address-mobile@2x.png");
        }
    }

    .booking {
        text-align: center;
        padding-bottom: 84px;
    }

    .book-label:not(:last-child) {
        display: block;
        margin-bottom: 44px;
    }

    .book-input {
        width: 100%;
    }

    .book-text {
        width: 100%;
    }

    .btn-send {
        margin: 0 auto;
    }

    .contacts {
        padding-top: 84px;
    }

    .cntct-ttl {
        text-align: center;
    }

    address {
        margin-bottom: 44px;
    }
}

/* ++++++++++ Tablet ++++++++++ */

@media screen and (min-width: 768px) {
    .booking-contacts {
        max-width: 768px;
        background-image: url("../images/address-tablet.png");
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .booking-contacts {
            background-image: url("../images/address-tablet@2x.png");
        }
    }

    .booking {
        padding-bottom: 100px;
    }

    .book-form {
        display: flex;
        flex-flow: wrap;
        column-gap: 30px;
        row-gap: 44px;
    }

    .book-input {
        width: 330px;
    }

    .book-text {
        width: 690px;
    }

    .contacts {
        padding-top: 100px;
    }

    .address-time-wrap {
        display: flex;
        gap: 30px;
    }

    address {
        width: 330px;
        margin-bottom: 0;
    }

    .address-adrs {
        max-width: 210px;
    }
}

/* ++++++++++ Desktop ++++++++++ */

@media screen and (min-width: 1200px) {
    .booking-contacts {
        max-width: 1600px;
        background-image: url("../images/address-desktop.png");
        background-position: 100% 0%;
        padding-top: 130px;
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .booking-contacts {
            background-image: url("../images/address-desktop@2x.png");
        }
    }

    .contacts-cntnr {
        display: flex;
    }

    .booking {
        flex-grow: 1;
        padding-bottom: 0;
    }

    .book-input {
        width: 270px;
    }

    .book-text {
        width: 570px;
    }

    .contacts {
        width: 785px;
        padding-right: 100px;
        padding-top: 0;
    }
    .address-time-wrap {
        display: block;
        }

    address {
        width: 100%;
        margin-bottom: 70px;
    }

    .address-adrs {
        max-width: 210px;
    }
}

/* ============= FOOTER ============= */

.footer {
    padding-top: 56px;
    padding-bottom: 56px;
    background-color: #F7F7F7;
}

.footer-cntnr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ftr-cpr {
    display: flex;
    align-items: center;
}

.ftr-icon {
    margin-right: 6px;
}

.footer-cntnr p,
.footer-list a {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--sub-dark-section);
}

.footer-list a {
    color: var(--title-and-dark-button);
}

.footer-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.ftr-item:first-child {
    display: flex;
    gap: 40px;
    align-items: center;
}

.ftr-item:first-child::before {
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    background-color: currentColor;
}

/* ========== Modal Window ============ */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    background-color: rgba(114, 122, 148, 0.4);
    transition: transform 1000ms;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: rotate(-45deg) scale(1.5);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: #fff;
}

.btn-cls {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: rgba(114, 122, 148, 0.4);
    cursor: pointer;
    transition: color 500ms, border 500ms;
}

.btn-cls>svg {
    transition: fill 500ms;
}

.btn-cls:hover>svg,
.btn-cls:focus>svg {
    fill: #FF6C00;
}

.btn-cls:hover,
.btn-cls:focus {
    background-color: #fff;
    border: 1px solid #FF6C00;
}

.modal-label {
    display: block;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
}

.modal-input {
    width: 100%;
    height: 40px;
    padding: 8px 10px;
    border-radius: 4px;
    font-weight: 600;
}

.modal-comment-input {
    height: 100px;
    resize: none;
}

.modal-input:focus {
    border: 1px solid blueviolet;
    outline: none;
}

.modal-check {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.modal-btn {
    display: block;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    color: var(--title-and-dark-button);
}
/* ++++++++++ Phone ++++++++++ */

@media screen and (max-width: 767px) {
    .modal {
    width: 400px;
    padding: 40px 20px;
    }
}

/* ++++++++++ Tablet ++++++++++ */

@media screen and (min-width: 768px) {
    .modal {
        width: 500px;
        padding: 40px 20px;
    }
}

/* ++++++++++ Desktop ++++++++++ */

@media screen and (min-width: 1200px) {
    .modal {
            width: 600px;
            padding: 60px 40px;
        }
}
